.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.inner{
  width: 100%;
  max-width: 980px;
  margin: 30px auto 0;
}

.header{
  background-color: aquamarine;
  padding: 10px;
}

.navbar{
  display: flex;
  align-items: center;
}

.navbar a{
  margin-right: 20px;
}

.h1ttl{
  color: brown;
  margin-bottom: 20px;
}

.list{
  padding: 10px;
  border-top: 1px solid #ccc;
}

.pagenation{
  padding: 10px 0;
}

.pagenation ul{
  display: flex;
  list-style-type: none;
}


.pagenation ul li{
  margin-right: 10px;
}

.pagenation ul a{
  display: block;
}


.col2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col2 .sidenav{
  width: 30%;
  background-color:#cfcfcf;
  padding: 1em;
}

.col2 .sidenav ul{
  list-style-type: none;
}

.col2 .main{
  width: 69%;
  padding: 0;
  justify-content: flex-start;
}


/*デザインcss↓*/
.box_con08 {
  max-width: 900px;
  margin: 0  auto;
}
@media only screen and (max-width: 768px) {
  .box_con08 {
    width: 95%;
  }
}
.box_con08 form {
  width: 100%;
}
.box_con08 form ul {
  width: 100%;
  background: #eee;
}
.box_con08 form ul li {
  position: relative;
  overflow: hidden;
  margin: .5em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) {
  .box_con08 form ul li {
    display: -webkit-flex;
    display: flex;
  }
}
@media print {
  .box_con08 form ul li {
    display: -webkit-flex;
    display: flex;
  }
}
.ie8 .box_con08 form ul li {
  display: -webkit-flex;
  display: flex;
}
.box_con08 form ul li .title {
  position: relative;
  width: 30%;
  font-weight: normal;
  padding: 1em;
  position: relative;
  color: #1c2e53;
}
@media only screen and (min-width: 769px) {
  .box_con08 form ul li .title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
@media print {
  .box_con08 form ul li .title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
.ie8 .box_con08 form ul li .title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .box_con08 form ul li .title {
    text-align: center;
    width: 100%;
    display: block;
    padding: .8em .2em;
    color: #fff;
    background: #1c2e53;
  }
}
.box_con08 form ul li .title em {
  position: relative;
  z-index: 1;
}
.box_con08 form ul li .title span {
  background: #cd6f55;
  padding: 0 .3em;
  color: #fff;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con08 form ul li .box_det {
  width: 70%;
  position: relative;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con08 form ul li .box_det {
    padding: 1.5em .5em;
    display: block;
    width: 100%;
  }
}
.box_con08 form ul li .box_br {
  display: block;
}
.box_con08 form ul li select, .box_con08 form ul li textarea, .box_con08 form ul li .wide {
  width: 100%;
  height: 3em;
  padding: .5em;
  border: none;
  outline: none;
  background: transparent;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con08 form ul li textarea {
  height: 10em;
}
